[submodule "PgSA"]
	path = PgSA
	url = https://github.com/kowallus/PgSA.git
[submodule "KMC"]
	path = KMC
	url = https://github.com/refresh-bio/KMC
[submodule "CTPL"]
	path = CTPL
	url = https://github.com/vit-vit/CTPL
